<div class="container">
  <div class="row">
    <div class="col-3">
      <h3 class="bg-light d-inline-block m-5">マイページ</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <h4>
        登録情報
        <%= link_to "編集する", customers_infomation_edit_path, class:"btn btn-success m-2" %>
      </h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      <td><%= @customer.postal_code %></td>
      <td><%= @customer.address %></td>
      <td><%= @customer.telephone_number %></td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

  <h4>
    配送先
    <%= link_to "一覧を見る", addresses_path, class:"btn btn-primary m-5" %>
  </h4>

  <h4>
    注文履歴
    <%= link_to "一覧を見る", orders_path, class:"btn btn-primary m-4" %>
  </h4>
    </div>
  </div>
</div>



