<h4>会員一覧</h4>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="row">会員ID</th>
      <th scope="row">氏名</th>
      <th scope="row">メールアドレス</th>
    </tr>
  </thead>

  <% @customers.each do |customer| %>
  <tbody>
    <tr>
      <%= link_to admin_customer_path(@customer.id) do %>
      <td>
        <%= customer.id %>
      </td>
      <% end %>
      <td><%= customer.last_name %><%= customer.first_name %></td>
      <td><%= customer.email %></td>
    </tr>
  </tbody>
  <% end %>
</table>