<h4>注文履歴</h4>

<p>購入者</p>
<%= @order_detail.order.name %>

<p>注文日</p>
<%= @order_detail.created_at %>

<p>配送先</p>
<%= @order_detail.order.postal_code %>
<%= @order_detail.order.address %><br>
<%= @order_detail.order.name %>

<p>支払方法</p>
<p><%= @order_detail.order.payment_method %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= (order_detail.price * order_detail.amount).floor %></td>
    </tr>
    <% end %>
  </tbody>
</table>


