<h4>注文履歴</h4>

<p>購入者</p>
<%= @order.name %>

<p>注文日</p>
<%= @order.created_at %>

<p>配送先</p>
<%= @order.postal_code %>
<%= @order.address %><br>
<%= @order.name %>

<p>支払方法</p>
<p><%= @order.payment_method_i18n %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
  </thead>

  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= (order_detail.price * 1.1).floor %></td>
      <td><%= order_detail.amount %></td>
      <td><%= (order_detail.price * 1.1 *order_detail.amount).floor %></td>
    </tr>
    <% @sum += (order_detail.price * 1.1 *order_detail.amount).floor %>
    <% end %>
  </tbody>
</table>

<p>商品合計</p>
<%= @sum %>
<p>送料</p>
<%= @order.shipping_cost %>
<p>請求金額合計</p>
<%= @sum + @order.shipping_cost %>
