<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-5" href="/">LOGO</a>
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
          <!--    arita-conntrols="navbarNavDropdown" arita-expanded="false" arita="Toggle navigation">-->
          <!--  <span class="navbar-toggler-icon"></span>-->
          <!--</button>-->

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
              <p>ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</p>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'マイページ', customers_my_page_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '商品一覧', items_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'カート', cart_items_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light">
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete  %>
                </button>
              </li>
              <!--<nav class="navbar navbar-light bg-light">-->
              <!--  <form class="form-inline">-->
              <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
              <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <!--  </form>-->
              <!--</nav>-->
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '商品一覧', admin_items_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '会員一覧', admin_customers_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '注文履歴一覧', admin_root_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-lightmr-5">
                  <%= link_to 'ログアウト', admin_destroy_session_path, method: :delete %>
                </button>
              </li>
              <!--<nav class="navbar navbar-light bg-light">-->
              <!--  <form class="form-inline">-->
              <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
              <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <!--  </form>-->
              <!--</nav>-->
            <% else %>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'About', about_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '商品一覧', items_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to '新規登録', new_customer_registration_path %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-light mr-5">
                  <%= link_to 'ログイン', new_customer_session_path %>
                </button>
              </li>
              <!--<nav class="navbar navbar-light bg-light">-->
              <!--  <form class="form-inline">-->
              <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
              <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <!--  </form>-->
              <!--</nav>-->
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
</html>
